<div class="container">
  <div class="row align-items-center">
    <span class="alert alert-light analyzing align-self-center display-none"><%= t('flash.analyzing') %></span>
    <span class="alert alert-success display-none"><%= t('flash.fair_trade') %></span>
    <span class="alert alert-warning empty-list display-none"><%= t('flash.empty_list') %></span>
    <span class="alert alert-danger display-none"><%= t('flash.not_fair_trade') %></span>
    <span class="alert alert-warning unknown-pokemons display-none"><%= t('flash.unknown_pokemons')  %></span>
  </div>

  <%= form_for @exchange do |form| %>
    <div class="row row-cols-auto justify-content-center">
      <div class="col-6">
        <p><%= t('trade.offer_sending') %></p>
        <span><%= t('trade.offer_send') %></span>
        <% 6.times do |n| %>
          <div class="g-3 align-items-center">
            <div class='col-auto'>
              <div class="">
                <%= form.text_field "sending", placeholder: t('trade.pokemon_name'), multiple: true, class:'form-control sending' %>
              </div>
            </div>
          </div>
        <% end %>

        <div class='mb-3 row avg-sending display-none d-flex align-items-start'>
          <%= form.label t('trade.experience'), class: 'avg-sending col-sm-5 col-form-label display-none' %>
          <div class="col-sm-7">
            <%= form.text_field 'avg_sending', class: 'form-control-plaintext avg-sending display-none' %>
          </div>
        </div>
      </div>

      <div class="col-6">
        <p><%= t('trade.offer_receiving') %></p>
        <span><%= t('trade.offer_receive') %></span>
        <% 6.times do |n| %>
          <div class="g-3 align-items-center">
            <div class="col-auto">
              <%= form.text_field "receiving", placeholder: t('trade.pokemon_name'), multiple: true, class:'form-control receiving' %>
            </div>
          </div>
        <% end %>

        <div class='mb-3 row avg-receiving display-none d-flex align-items-start'>
          <%= form.label t('trade.experience'), class: 'avg-receiving col-sm-5 col-form-label display-none' %>
          <div class="col-sm-7">
            <%= form.text_field 'avg_receiving', class: 'form-control-plaintext avg-receiving display-none' %>
          </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <p class='btn btn-link'><%= t('trade.analyze') %></p>
      <%= form.submit t('trade.save'), class:'btn btn-primary display-none' %>
    </div>
  <% end %>
</div>
